<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
Hello!!!
<div th:switch="${authors}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>name</th>
        <th>email</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="author : ${authors}">

        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.email}"></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>