<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/news-create}" th:object="${news}" method="post">
  <label for="date_news">Date</label>
  <input type="text" th:field="*{date_news}" id="date_news" placeholder="First Name">
  <label for="textOfNews">Text</label>
  <input type="text" th:field="*{textOfNews}" id="textOfNews" placeholder="textOfNews">
  <label for="topicNews">Topic</label>
  <input type="text" th:field="*{topicNews}" id="topicNews" placeholder="topicNews">
  <input type="submit" value="Create News">
</form>
</body>
</html>